.header__middle.main-display
  .video-container
    .video-wrapper
      video(preload="" autoplay="autoplay" muted="muted" loop="loop" poster="img/main.png")
        source(src="video/video-main.mp4" type="video/mp4")
  .text-container
    svg(xmlns="http://www.w3.org/2000/svg" width="779px" height="450px" viewBox="0 0 1000 500")
      defs
        mask(id="LetMask")
          rect(
          x="0" y="0"
          width="700px"
          height="100%"
          fill="#black")
          text(class="text-img first"
            font-size="100px"
            font-family="Inter"
            x="125" y="169"
            fill="white") Крупнейший
          text(class="text-img second"
            font-size="100px"
            font-family="Inter"
            x="125" y="268"
            fill="white") поставщик
          text(class="text-img third"
            font-size="100px"
            font-family="Inter"
            x="125" y="367"
            fill="white") Стальных труб
      image(
        xlink:href="img/background-text-main.png"
        width="1020px"
        height="760px"
        mask="url(#LetMask)")
    //- .image-in-text(style="background: url('img/background-text-main.png')")
    //-   h1.main-h1 Крупнейший<br>поставщик<br> стальных труб
    p.common-text.common-text__black Сфера деятельности компании АО ТД «Кристалл» – оптовая и розничная торговля со склада трубами из разных марок стали. Наша задача — быть главным связующим элементом между производителями — отечественными и зарубежными и потребителями России, Беларуси и Казахстана.
